body{
    background-color: rgb(21,20,20);
    color: bisque;
    font-size: 40px;
}
.qual{
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(53, 69, 214);
    text-shadow: 3px 3px 3px rgba(255,255,255,0.25);
}
.skill{
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(53, 69, 214);
    text-shadow: 3px 3px 3px rgba(255,255,255,0.25);
}
.hobbies{
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(53, 69, 214);
    text-shadow: 3px 3px 3px rgba(255,255,255,0.25);
}
.poem{
    font-size: 50px;
    color: #0a66c2;
    transition: color 0.15s;
}
.poem:hover{
    color: #4a9aeb;
}
